.bg
.jumbotron.text-center
  h1 Konoha Bento
  p Bento Boxes And Accessories from Konoha!
/! This is a comment? 
= render partial: 'product', collection: @products, locals: {full_details: false}
== paginate @products
